src/__pycache__/
output/
data/molecule_group_presence.csv
src/plot.ipynb
data/molecule_info_classified_myh.csv
.DS_Store
plot/*.pdf
src/script/excited_state_test.ipynb
src/script/spectrum.ipynb
src/script/plot.ipynb
